/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.button {
  transition: 0.3s ease;
}

.button::after {
  transition: transform 0.5s ease-in-out;
}

.theme-menu__button:disabled::before{
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
}

.card__icon-button {
  transition: border-color 0.3s ease;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.heart:hover .core{
  transition: fill 0.3s linear;
}

.contour  {
  transition: fill 0.3s 0.03s linear;
}

.heart:hover .contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  transition: fill 0.3s 0.05s linear;
}

.heart:active .core{
  transition: fill 0.3s linear;
}

.heart:active .main-body{
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  transition: fill 0.03s linear;
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart{
  animation: scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks{
  animation: sparks 0.3s 0.3s ease-in alternate;
}

dialog {
  transition: opacity 0.3s ease-in-out;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    transform-origin: center;
  }

  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}