/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --title-wght: 700;
  --main-wght: 400;
  --bg-color: #fff;
  --button-color: #fff;
  --button-color-icon: #000;
  --accent-text-color: #fff;
  --main-color: #000;
  --color-text-shadow: #fff;
  --color-box-shadow: #000;
  --color-heart-contour: #000;
  --color-heart-body: #FF0000;
  --color-heart-core: #000;
  --bg-gradient: 
  repeating-linear-gradient(
    90deg,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px
  ),
  repeating-linear-gradient(
    180deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px
  ),
  linear-gradient(
    180deg, #e7e7e7 0.01%, #1a1a1a
  );
  

  --main-font: 'Inter-Flex-Variable';
  --accent-font: 'PressStart2P', system-ui;
  --size-title: clamp(3.063rem, 1.921rem + 4.92vw, 4.063rem);
  --size-text: clamp(0.875rem, 0.233rem + 2.77vw, 1.438rem);
  --size-section: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  --border-card: 2px solid var(--main-color, #000);
  --border-hover: 2px solid var(--main-color, #000);
  --header-padding-block-start: clamp(7.5rem, 7.153rem + 1.5vw, 8.5rem);
  --text-shadow: 0.5px var(--color-text-shadow, #fff);
  --box-shadow: 2px 2px 0px 0px var(--color-box-shadow, #000);
}